Repository MiguelMMota/trust-me-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

forge-fmt-check:
  name: Forge Format Check
  entry: forge fmt --check
  language: system
  pass_filenames: false

forge-build:
  name: Forge Build
  entry: forge build
  language: system
  pass_filenames: false

slither:
  name: Slither Static Analysis
  entry: bash -c 'if command -v slither &> /dev/null; then slither . --exclude-dependencies --exclude-informational --exclude-low --filter-paths "test/"; else echo "⚠️  Slither not installed. Install with pip install slither-analyzer"; fi'
  language: system
  ...

forge-test:
  name: Forge Test
  entry: forge test
  language: system
  pass_filenames: false

forge-coverage:
  name: Forge Coverage Check
  ...

Add 'just' installation instructions
  README.md
Due: none

Add coverage check command
  justfile
Due: none

Only trigger forge-test and forge-coverage when src/ or test/ contracts are changed
  .pre-commit-config.yaml
Due: none

New test file
  test/PeerRating.t.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Prevent subtraction underflow
  src/PeerRating.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Prepopulate with some data
  script/deploy/DeployPeerRating.s.sol
  script/deploy/DeployUser.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Add deployments directory
  deployments/.gitkeep
Due: none

Fix tests
  test/PeerRating.t.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Remove references to master branch
  .github/workflows/README.md
  .github/workflows/deploy.yml
Due: none

Use vm.startBroadcast
  script/Deploy.s.sol
  script/config/DeploymentConfig.sol
  script/deploy/DeployChallenge.s.sol
  script/deploy/DeployPeerRating.s.sol
  script/deploy/DeployPoll.s.sol
  script/deploy/DeployReputationEngine.s.sol
  script/deploy/DeployTopicRegistry.s.sol
  script/deploy/DeployUser.s.sol
  script/upgrade/UpgradeChallenge.s.sol
  script/upgrade/UpgradePeerRating.s.sol
  script/upgrade/UpgradePoll.s.sol
  script/upgrade/UpgradeReputationEngine.s.sol
  script/upgrade/UpgradeTopicRegistry.s.sol
  script/upgrade/UpgradeUser.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Add read-write permissions to deployments files + load env variables in just commands
  foundry.toml
  justfile
Due: none

Fix deployment
  script/Deploy.s.sol
  script/deploy/DeployChallenge.s.sol
  script/deploy/DeployPeerRating.s.sol
  script/deploy/DeployPoll.s.sol
  script/deploy/DeployReputationEngine.s.sol
  script/deploy/DeployTopicRegistry.s.sol
  script/deploy/DeployUser.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Forge fmt
  script/config/DeploymentConfig.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Add script to verify proxy contracts as proxies
  justfile
  script/verify-proxies.sh
Due: none

Register root topics as being children of parentId 0
  src/TopicRegistry.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Add a 2-second sleep after groups of transactions during deployment to avoid dropping transactions from mempool
  script/Deploy.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Track ratings by user
  src/PeerRating.sol
  test/PeerRating.t.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Add function so Admin can rate on behalf of users to simplify deployment
  script/Deploy.s.sol
  src/PeerRating.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Add tests for admin rating on behalf of users
  test/PeerRating.t.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Add user name
  script/Deploy.s.sol
  src/User.sol
  test/Challenge.t.sol
  test/PeerRating.t.sol
  test/Poll.t.sol
  test/ReputationEngine.t.sol
  test/TrustMeSystem.t.sol
  test/User.t.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Generate feedback on all topics but the last one. Use bigger seeds to randomise topics scores up to 1000
  script/Deploy.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Fix rate value seeding
  script/Deploy.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Add function for admin to register user
  script/Deploy.s.sol
  src/User.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Add local addresses populating data after local deployment
  script/Deploy.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Update docs. Add sections for future improvements and challenges
  README.md
Due: none

Read sepolia test user addresses from env variable
  .env.example
  script/Deploy.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Update contract addresses in trust-me-dapp local repository after deploying
  justfile
  script/update-dapp-addresses.sh
Due: none

Specify private key when deploying/upgrading
  justfile
Due: none

Remoe previous deployment files when starting a new local deployment
  justfile
Due: none

Delete cached broadcast transactions prior to a new local deployment
  justfile
Due: none

Read sepolia test account address from env variables. Update docs
  .env.example
  README.md
  script/config/DeploymentConfig.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Use ANVIL_DEFAULT_ACCOUNT when deploying locally
  script/Deploy.s.sol
  script/config/DeploymentConfig.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Save to a separate file for the network contract addresses
  script/update-dapp-addresses.sh
Due: none

Update dapp ABI files on deployment/upgrade
  justfile
Due: none

Trigger user topic expertise update when user receives new peer rating
  src/PeerRating.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Remove unused function
  src/ReputationEngine.sol
  test/ReputationEngine.t.sol
  test/TrustMeSystem.t.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Trigger user topic expertise update when user attempts a challenge
  src/Challenge.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Pass correct params to trigger topic expertise recalculation
  src/Challenge.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Forge fmt
  src/PeerRating.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Add debug command
  justfile
Due: none

Path conditions:
  forge-fmt-check: any of: \.sol$
  forge-build: any of: \.sol$
  slither: any of: ^src/.*\.sol$
  forge-test: any of: \.(sol|t\.sol)$
  forge-coverage: any of: \.(sol|t\.sol)$
