Repository MiguelMMota/trust-me-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

.pre-commit-config.yaml:

repos:
  # Forge formatting check
  - repo: local
    hooks:
      - id: forge-fmt-check
        name: Forge Format Check
        entry: forge fmt --check
        language: system
        files: \.sol$
        pass_filenames: false

  # Forge build (ensures contracts compile)
  - repo: local
    hooks:
      - id: forge-build
        name: Forge Build
        entry: forge build
        language: system
        files: \.sol$
        pass_filenames: false

  # Slither static analysis
  - repo: local
    hooks:
      - id: slither
        name: Slither Static Analysis
        entry: >-
          bash -c 'if command -v slither &> /dev/null; then slither . --exclude-dependencies --exclude-informational --exclude-low --filter-paths "test/"; else echo "⚠️  Slither not installed. Install with pip install slither-analyzer"; fi'
        language: system
        files: ^src/.*\.sol$
        pass_filenames: false

  # Forge tests
  - repo: local
    hooks:
      - id: forge-test
        name: Forge Test
        entry: forge test
        language: system
        files: \.(sol|t\.sol)$
        pass_filenames: false

  # Forge coverage
  - repo: local
    hooks:
      - id: forge-coverage
        name: Forge Coverage Check
        entry: >-
          bash -c 'coverage_output=$(forge coverage --report summary --ir-minimum --no-match-coverage script 2>&1); src_coverage=$(echo "$coverage_output" | grep "src/" | awk -F"|" "{print \$3}" | awk -F"[()]" "NF>=2 {print \$2}" | awk -F"/" "{covered += \$1; total += \$2} END {if (total > 0) printf \"%.2f\", (covered / total) * 100; else print \"0\"}"); min_coverage=50; if [ -z "$src_coverage" ] || [ "$src_coverage" = "0" ]; then echo "❌ Could not parse src/ coverage"; echo "$coverage_output"; exit 1; fi; echo "src/ Coverage: ${src_coverage}%"; if (( $(echo "$src_coverage < $min_coverage" | bc -l) )); then echo "❌ src/ coverage ${src_coverage}% is below minimum ${min_coverage}%"; exit 1; fi; echo "✅ Coverage check passed (src/ files: ${src_coverage}%)"'
        language: system
        files: \.(sol|t\.sol)$
        pass_filenames: false
        verbose: true

Stop hijacking the score when there are no challenges completed
  src/User.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Light refactoring and fix bug when determining if it's the first time a user rates someone else
  script/Deploy.s.sol
  src/Challenge.sol
  src/PeerRating.sol
  src/ReputationEngine.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Tidy up
  script/Deploy.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Document future applicability with scientific papers
  README.md
Due: none

Draft of TeamRegistry smart contract
  src/PeerRating.sol
  src/ReputationEngine.sol
  src/TeamRegistry.sol
  src/TopicRegistry.sol
  src/User.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Fix tests
  src/Challenge.sol
  src/User.sol
  test/Challenge.t.sol
  test/PeerRating.t.sol
  test/ReputationEngine.t.sol
  test/TrustMeSystem.t.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Add Team tests
  test/TeamIntegration.t.sol
  test/TeamRegistry.t.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Update deployment to include TeamRegistry contract
  script/Deploy.s.sol
  script/upgrade/UpgradeTeamRegistry.s.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Fix TeamRegistry deployment registration
  script/config/DeploymentConfig.sol
Due: forge-fmt-check, forge-build, forge-test, forge-coverage

Fix deployment
  script/Deploy.s.sol
  script/config/DeploymentConfig.sol
  src/PeerRating.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage

Implement team-specific challenges
  justfile
  script/Deploy.s.sol
  script/update-dapp-addresses.sh
  src/Challenge.sol
  test/Challenge.t.sol
  test/ReputationEngine.t.sol
  test/TeamIntegration.t.sol
  test/TrustMeSystem.t.sol
Due: forge-fmt-check, forge-build, slither, forge-test, forge-coverage
